# 忽略目录
examples/
public/
.github/
node_modules/
bin/
dist/demo.html
dist/minenpm.common.js
dist/minenpm.umd.js
dist/fonts/
.babelrc

# 忽略文件
vue.config.js
babel.config.js
plugins.js
tsconfig.json
*.map
